# Build Artifacts
dist/

# Misc
.DS_Store
.env

# Node
node_modules/

# TypeScript
*.tsbuildinfo

# Yarn
.pnp.*
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
yarn-error.log
